
@section Scripts{
    
@Scripts.Render("~/bundles/Filmes")
}
<table>
    <thread>
        <tr>
            <th>Código</th>
            <th>Email</th>
            <th>Último Acesso</th>
            <th>Operações</th>
        </tr>
    </thread>
    <tbody data-bind="foreach: filmes">
        <tr>
            <td data-bind="text: Codigo"></td>
            <td data-bind="text: Email"></td>
            <td data-bind="text: UltimoAcesso"></td>
            <td>
                <button>Editar</button>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
 </table>